<html>
    <head>
        <title>El blog de nperuga</title>
    </head>
    <body>
        <div>
            <h1><a href="/">El blog de nperuga</a></h1>
            <br>
            <p>Publicado: 05.01.2021, 17:35</p>
            <br>
        </div>

        <div>
            <h2><a href="">Mi primer post</a></h2>
            <p>Me llamo Nerea y tengo 26 años. Estudié Educación Infantil y Priaria, pero ahora he empezado a interesarme por el mundo de la programación y el desarrollo de aplicaciones/webs. He creado este blog siguiendo el tutorial de DjangoGirls, a través del cual he aprendido a programar con Python.</p>
            <br>
            <p>Publicado: 05.01.2021, 17:40</p>
            <br>
        </div>

        <div>
            <h2><a href="">Apuntes</a></h2>
            <p>Aquí colgaré los apuntes que me he ido haciendo mientras seguía el tutorial; así se podrán consultar en cualquier momento.</p>
            <br>
            <p>Actualizado: 05.01.2021, 17:43</p>
            <br>
        </div>
    </body>
</html>
